.appContentTextContent {
  font-size: 1.2vw;
  color: black;
  padding-left: 5%;
  padding-top: 5%;
  
}
.mainDiv{
  z-index: 50;
}

.divAppContent {
  border-left: 8px solid #B71DDE;
  position: relative;
  z-index: -999;
  margin-left: 10%;
  align-items: center;
  background-color:#F0F2F5;
  
}


.featuresDiv {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 50%;
  padding: 6% 10% 6% 10%;
  margin-left: 1.5%;
  margin-right: auto;
  background-color: #FFE0FE;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  font-size: 1.8vw;
  align-items: center;
  border: 1px solid #ff96fc;
  
}

.lastfeaturesDiv {
  margin-top: 8%;
  width: 50%;
  padding: 6% 10% 6% 10%;
  margin-left: 1.5%;
  margin-right: auto;
  background-color: #FFE0FE;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  font-size: 1.8vw;
  align-items: center;
  border: 1px solid #ff96fc;
}

.iconStyle {
  width: 10%;
  margin-right: 5%;
}

.leftBorderDiv {
  position: relative;
  margin-left: 14%;

  background-color:#F0F2F5;

}

.leftBorderPseudoElement {
  content: "''";
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 7px;
  background-color: #B71DDE;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .leftBorderPseudoElement {
    width: 4px;
  }
  .divAppContent{
    border-left: 5px solid #B71DDE;
  }
}

.DivBlock {
  text-align: center;
  justify-content: center;
    background-color:#F0F2F5;
}