/* divCarousel */
.divCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-top: 6%;
    padding-bottom: 4%;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.21); 
  }
  
  /* mobileStepperStyle */
  .mobileStepperStyle {
    background-color: #EBEBEB;
  }
  .mainDiv2{
    background-color:#F0F2F5;

  }
  
  /* appContentText */
  .appContentTextCarousel {
    font-size: 1.4vw;
    color: black;
    position: relative;
    padding-left: 5%;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* leftBorderDiv */
  .leftBorderDivImg {
    margin-left: 10%;
    border-left: 7px solid #B71DDE;
    background-color:#F0F2F5;

  }