.logoAndButtonStyle {
    left: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .buttonStyle {
    background-color: #FFE0FE;
    width: 11em;
    border: 1px solid #ff96fc;
  }
  
  .buttonStyle:hover {
    background-color: #b71dde;
  }
  
  .buttonStyle2 {
    background-color: #FFE0FE;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 11em;
    border: 1px solid #ff96fc;
  }
  
  .buttonStyle2:hover {
    background-color: #b71dde;
  }

  .CreateTeamButton {
    position: relative;
    background-color: #b71dde;
    border-radius: 15px;
    max-width: 100%;
    padding: 6px 16px;
    width: auto;
    height: 3rem;
    box-shadow: 0 0 10px rgba(51, 0, 45, 0.8); 
  }

  .CreateTeamButton:hover {
    background-color: gray;
  }
  
  .CreateTeamButton:hover > span {
    color: white;
  }

  .teamDiv {
    margin-bottom: 1em;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid gray;
  }
  
  .teamDiv:hover {
    background-color: lightblue;
  }